body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif; 
}

/* Informações*/

.informacoes-bg {
    background: #122ab2;
}

.informacoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    text-transform: capitalize;
    padding: 0.75rem;
}

.informacoes p {
    margin: 0px;
}

.informacoes a {
    margin: 0px;
    text-decoration: none;
    color: white;
}

.detalhe {
    text-transform: none;
}

/* Cabeçalho */

.cabecalho-bg {
    background: #4784e0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0.75rem;
}

.marca {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

/* Menu */

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    text-transform: capitalize;
}

.menu a:hover {
    color: #122ab2;
}

h1 {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: bold;
    padding: 2.5rem 0.75rem;
    line-height: 1;
    color: #222222;
}


/* Sobre */

#sobre {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    gap: 1.8rem;
    padding: 2.5rem 0.75rem;
    border-top: 2px solid #122ab2;
}

.texto-titulo {
    font-size: 3rem;
    margin: 0px;
    color: #222222;
}

.texto-paragrafo {
    font-size: 1.25rem;
    color: #7c7c7c;
}

.img-sobre {  
    align-self: flex-start;
}

/* Produtos */

#produto {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    border-top: 2px solid #122ab2;
    padding: 2.5rem 0.75rem;
    gap: 2.5rem;
}

.produtos-img {
    display: flex;
    max-width: 100%;
    gap: 1rem;
    align-items: flex-end;
}

#purple {
    background: #f7f7f7;
    border-top: 8px solid #ae81ff;
}

.subtitulo {
    font-size: 3rem;
    padding: 1.25rem;
    color: #a4a4a4;
}

#pink {
    background: #f7f7f7;
    border-top: 8px solid #f9265e;
}

#blue {
    background: #f7f7f7;
    border-top: 8px solid #66d9eb;
}

.img-item {
    max-width: 100%;
}

/* Newsletter */

#newsletter {
    background: #f7f7f7;
    padding: 3rem calc((100% - 1000px) / 2);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.newsletter-info {
    flex: 1 1 30%;
    margin: 0 10px;
}

.new-assinar {
    background: #2c70ff;
}

.newsletter-info h2 {
    font-size: 3rem;
    color: #a4a4a4;
    margin: 0px;
}

.newsletter-info p {
    font-size: 1.25rem;
    color: #7c7c7c;
    font-style: italic;
    margin: 0px;
}

.newsletter-form {
    flex: 2 1 30%;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form input {
    flex: 1;
    border: 4px solid #2c70ff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    padding: 1rem 0.6rem;
}

.newsletter-form button {
    flex: 1;
    background: #2c70ff;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
}

/* Footer */

footer {
    background: #2c70ff;
    padding: 4rem;
}

footer p {
    color: #122ab2;
    margin: 0px;
    text-align: center;
    font-size: 2.25rem;
}

@media (max-width:800px) {
    .img-sobre {
        display: none;
    }

    footer {
        padding: 2rem;
    }

    footer p {
        font-size: 1.4rem;
    }
}

@media (max-width:550px) {
    .cabecalho {
        flex-direction: column;
    }

    .produtos-img {
        flex-direction: column;
    }

    footer p {
        font-size: 1rem;
    }
}

@media (max-width:400px) {
    .menu {
        flex-direction: column;
    }
}
