body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif; 
}

.informacoes-bg {
    background: #122ab2;
}

.informacoes {
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    text-transform: capitalize;
    padding: 0.75rem;
}

.informacoes p {
    margin:0px;
}

.informacoes a {
    margin:0px;
    text-decoration: none;
    color: white;
}

.detalhe {
    text-transform: none;
}

.cabecalho-bg {
    background: #4784e0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0.75rem;
}

.marca {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    text-transform: capitalize;
}

h1 {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: bold;
    padding: 2.5rem 0.75rem;
    line-height: 1;
}

.sobre {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    gap: 1.8rem;
    padding: 2.5rem 0.75rem;
    border-top: 2px solid #122ab2;
}

.texto-titulo {
    font-size: 3rem;
    margin: 0px;
}

.texto-paragrafo {
    font-size: 1.25rem;
}

.img-sobre {
    max-height: 100%;
    align-self: flex-start;
}